<!DOCTYPE html>
<html ng-app="SimpleFormsApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Simple Form Validation</title>
  </head>
  <body ng-controller="RegistrationController as reg">
    <h1>Simple Form Validation</h1>

    <fieldset>
      <legend>Registration</legend>
      <form name='regForm' novalidate>

        <input type="text" name="username" placeholder="Pick a username"
          ng-model="reg.user.username"
          required
          minlength="4"
          ng-maxlength="10">
          <!-- if the validation rules have not been met then the interpolation will not happen -->
          {{ reg.user.username }}
          <span
            ng-if="(regForm.username.$error.minlength || regForm.username.$error.required) && regForm.username.$touched">
            Username must be at least 4 characters long
          </span>
          <span ng-if="regForm.username.$error.maxlength && regForm.username.$touched">
            Username must not be longer than 10 characters
          </span>
          <br>

          <!-- email type inputs have an implicit validation rule that says the input must have something@somewhere -->
        <input type="email" name="email" placeholder="Email"
          ng-model="reg.user.email"
          required>
          <!-- $invalid will catch implicit and explicit validation errors -->
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

          <!-- pattern is a regular expression and is a validation attribute -->
        <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="reg.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>

          <!-- button will nly show up if the form is not invalid; if it is valid it will show the button and the button has a function -->
        <button
          ng-disabled="regForm.$invalid"
          ng-click="reg.submit()">Submit</button>

          <div style="margin-top: 10px;">
            Form valid? {{ regForm.$valid }}
          </div>
      </form>
    </fieldset>

    <!-- if reg completed it will show input -->
    <div id="info" ng-if="reg.completed">
      Username: {{ reg.user.username}} <br>
      Email: {{ reg.user.email}} <br>
      Phone: {{ reg.user.phone }}
    </div>

    <script src="../../../angular.min.1.5.8.js"></script>
    <script src="src/app.js"></script>

  </body>
</html>
